{% extends '../main.html' %}

{% block head %}

{% endblock %}

{% block content %} 


<div class="content">
    <h1 class="logo"><b>AGREGAR TIPO DE VACUNA</b></h1><br><br>

    <div class="contact-wrapper">
       
        <div class="contact-form">
            <form method='POST' action="">
                {% csrf_token %}
                <p>
                    <label for="{{form.nombre_vacuna.name}}">{{form.nombre_vacuna.label}}</label>
                     {{form.nombre_vacuna}}
                </p>
                <p>
                    <label for="{{form.fabricante.name}}">{{form.fabricante.label}}</label>
                    {{form.fabricante}}
                </p>
                <p>
                    <label for="{{form.pais_fabricacion.name}}">{{form.pais_fabricacion.label}}</label>
                    {{form.pais_fabricacion}}
                </p>
                <p>
                {% if form.errors %}
                 <div class="alert alert-danger">El tipo de vacuna ingresada ya existe, intente nuevamente</div>
                 {% endif %}
                 </p>
                <div class="block">
                    <button type="submit">Agregar</button>  <button href="http://127.0.0.1:8000/consultarVacuna/">Cancelar</button>
                </div >

            </form>
        </div>

    </div>
    
</div>
{% endblock content %}

{% block scripts %}
{% endblock %}


