{% extends '../main.html' %} {% block head %} {% endblock %} {% block content %}
<form action="" method="post" class="form" enctype="multipart/form-data">
  {% csrf_token %} {{form}}
  <button type="submit" class="btn btn-dark">Confirmar</button>
</form>


{% if messages %}
                <div>
                    <ul class="messages">
                        <div class="alert alert-info">
                            {% for message in messages %}
                            <div>
                                {{ message }}
                              </div>
                        <br>
                            {% endfor %}
                        </div>
                    </ul>  
                </div>  
{% endif %} 

{% endblock content %} {% block scripts %} {% endblock %}
